
#ego-board {
    margin: 1rem;
}

#ego-board .ego-board-area {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 64px 8px 8px 8px;
}

#ego-board .ego-file-area {
    padding-top: 64px;
}

#ego-board .ego-file-area .card-body {
    padding: 0;
}

#ego-board .ego-file-area .card-body table {
    margin: 0;
}

#ego-board .ego-file-area .card-body table .ego-functions {
    text-align: right;
}

.ego-markdown ul.ego-task-list {
    margin: 0 0 4px 0;
    padding: 0 0 0 4px;
}

.ego-markdown ul.ego-task-list li.task-list-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-brand .fa {
    margin-right: 8px;
}
